#map {
  width: 100vw;
  height: 100vh;
}

p {
  margin-top: 2px;
}

body {
  background-color: #242424;
}

.leaflet-container {
  background-color: #242424;
  cursor: default;
}

.leaflet-control-zoom {
  visibility: hidden;
}

nav .nav-wrapper {
  background-color: rgb(56, 56, 56);
}

nav.brand-logo {
  color: rgba(235,235,235,0.8);
  margin-left: 12px;
}

#title {
  padding-left: 20px;
  font-family: 'Arapey', serif;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 225px;
  height: 60px;
  padding: 1px;
  font: 12px sans-serif;
  background: white;
  border: 0px;
  border-radius: 4px;
  pointer-events: none;
}

.location {
  top: -115px;
  left: 75%;
  opacity: 0.8;
}
