#map {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #242424;
}

.leaflet-container {
  background-color: hsl(240, 22%, 20%);
}

.leaflet-control-zoom {
  visibility: hidden;
}

nav .nav-wrapper {
  background-color: rgb(56, 56, 56);
}

nav.brand-logo {
  color: rgba(235,235,235,0.8);
  margin-left: 12px;
}

#title {
  padding-left: 20px;
  font-family: 'Arapey', serif;
}